html {
	height: 100%;
}

body {
	font-family: 'Droid Serif', serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

h1 {
  background: black;
  line-height: 36px;
  /*margin: 10px 0px 10px 0px;*/
  font-size: 20px;
  text-align: center;
  color: #f17721;
  padding: 10px;
}

h2 {
  font-size: 15px;
  text-align: center;
  color: black;
  margin-top: 13px;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: #f17721;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 15px;
}

.gm-style img {
  display: block;
  margin: auto;
  max-width: none;
}

/* SEARCH */

.search {
  padding: 0 0 0 30px;
  width: 287px;
  position: fixed;
  top: 10%;
  right: 3%;
  box-shadow: 0 8px 17px 0 #2a2931;
}

.searchTerm {
  float: left;
  width: 260px;
  border: 3px solid black;
  padding: 0 0 0 8px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  color: #f17721;
}

.searchTerm:focus{
  color: #f17721;
  font-size: 15px;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  opacity: 0;
  cursor: pointer;
}

.search:before {
  position: absolute;
  left: -3px;
  width: 40px;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  background: black;
  text-align: center;
  color: #f17721;
  border-radius: 5px;
  font-family: 'FontAwesome';
  content: '\f002';
}

/*  NAVIGATION / DROPDOWN-MENU */
.fa-bars {
  display: none;
}

li {
  list-style: none;
  width: 225px;
  height: 105px;
  color: whitesmoke;
}

li a {
  height: 105px;
  width: 225px;
  color: whitesmoke;
}

a {
  color: black;
}

a:hover {
  color: #f17721;
}

hr {
  border: 20px;
  color: whitesmoke;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.dropdown-menu> li > a {
  color: whitesmoke;
}

#nav-menu {
  color: whitesmoke;
  background: black;
  box-shadow: 0 8px 17px 0 #2a2931;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 3%;
  height: 50px;
  width: 287px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

#nav-menu a {
  display: block;
  cursor: pointer;
  padding: 10px 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-menu :hover {
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#uiList {
  position: fixed;
  top: 30px;
  right: 6%;
  height: 50px;
  width: 187px;
}

#uiList .dropdown-menu {
  right: 3%;
  visibility: hidden;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 8px 17px 0 #2a2931;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#uiList .dropdown-menu a:hover {
  letter-spacing: 0.03em;
  background: black;
  color: #f17721;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

.dropdown-menu.slideDown {
  border-radius: 5px;
  font-size: 13px;
  height: 500px;
  list-style: none;
  margin: 0;
  max-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px 0 0 0;
  top: 70px;
}

.dropdown-menu.slideDown::-webkit-scrollbar {
  overflow: visible;
  width: 10px;
  direction: ltr;
}

.dropdown-menu.slideDown::-webkit-scrollbar-thumb {
  border-radius: 0 5px 5px 0;
  background-color: #f17721;
  min-height: 20px;
  direction: ltr;
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/* ===== IPHONE 6 Plus ===== */
/**/
/**/
/* iPhone 6 Plus (portrait) */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) {

h1 {
  font-size: 15px;
}

h2 {
  font-size: 12px;
}

h3 {
  display: none;
}

/* Nav / Dropdown-Menu */

.fa-bars {
  display: block;
  color: #f17721;
}

#nav-menu {
  top: 1%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 80px !important;
  right: 0;
  width: 235px;
  display: block;
  top: 50px;
  margin-top: 8px;
  height: 600px !important;
}

/* Search */

.search {
  top: 93%;
  right: 15%;
}

.searchTerm {
  width: 260px;
}

}

/* ===== iPhone 6 Plus (landscape) ===== */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape) {

h1 {
  font-size: 12px;
}

h3 {
  display: none !important;
}

/*  Nav / Dropdown-Menu */

.fa-bars {
  display: block !important;
  color: #f17721;
}

#nav-menu {
  top: 3%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 230px !important;
  right: 0;
  width: 235px;
  display: block;
  top: 30px;
  margin-top: 8px;
  height: 265px !important;
}

/* Search */

.search {
  top: 87%;
  right: 30%;
}

.searchTerm {
  width: 260px;
}

}

/* ===== IPHONE 6 ===== */
/**/
/**/
/* iPhone 6 (portrait) */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

h1 {
  font-size: 15px;
}

h2 {
  font-size: 12px;
}

h3 {
  display: none;
}

/* Nav / Dropdown-Menu */

.fa-bars {
  display: block;
  color: #f17721;
}

#nav-menu {
  top: 1%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 65px;
  right: 0;
  width: 235px;
  display: block;
  top: 50px;
  margin-top: 8px;
  height: 485px !important;
}

/* Search */

.search {
  top: 93% !important;
  right: 15% !important;
}

.searchTerm {
  width: 260px;
}

}

/* ===== iPhone 6 (landscape) ===== */

@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

h1 {
  font-size: 15px;
}

h2 {
  font-size: 12px;
}

h3 {
  display: none !important;
}

/*  Nav / Dropdown-Menu */

.fa-bars {
  display: block !important;
  color: #f17721;
}

#nav-menu {
  top: 3%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 209px !important;
  right: 0;
  width: 235px;
  display: block;
  top: 30px;
  margin-top: 8px;
  height: 265px !important;
}

/* Search */

.search {
  top: 87%;
  right: 27%;
}

.searchTerm {
  width: 260px;
}

}

/* ===== IPHONE 5 ===== */
/**/
/**/
/* iPhone 5 (portrait) */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

h1 {
  font-size: 15px;
}

h2 {
  font-size: 12px;
}

h3 {
  display: none;
}

/* Nav / Dropdown-Menu */

.fa-bars {
  display: block;
  color: #f17721;
}

#nav-menu {
  top: 1%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 48px;
  right: 0;
  width: 235px;
  display: block;
  top: 50px;
  margin-top: 8px;
  height: 380px;
}

/* Search */

.search {
  top: 90%;
  right: 5%;
}

.searchTerm {
  width: 260px;
}

}

/* ===== iPhone 5 (landscape) ===== */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)  {

h1 {
  font-size: 15px;
}

h2 {
  font-size: 12px;
}

h3 {
  display: none;
}

/*  Nav / Dropdown-Menu */

.fa-bars {
  display: block;
  color: #f17721;
}

#nav-menu {
  top: 1%;
  left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 36px;
}

#uiList .dropdown-menu {
  left: 147px !important;
  right: 0;
  width: 235px;
  display: block;
  top: 40px;
  margin-top: 8px;
  height: 200px !important;
}

/* Search */

.search {
  top: 87%;
  right: 25%;
}

.searchTerm {
  width: 260px;
}

}

/* ===== IPHONE 4 ===== */
/**/
/**/
/* iPhone 4 (portrait) */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

#uiList .dropdown-menu {
  height: 320px;
}

}

/* ===== iphone 4 (landscape) ===== */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

#uiList .dropdown-menu {
  left: 117px !important;
}

.search {
  right: 18% !important;
}

}

/* iPads (portrait and landscape) ----------- */
/**/
/* iPad Portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

h3 {
  display: none;
}

/* Nav / Dropdown-Menu */

.fa-bars {
  font-size: 33px;
  display: block;
  color: #f17721;
  padding-top: 10px;
}

#nav-menu {
  top: 1%;
  left: 3%;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  padding: 8px 0 0 1px;
}

#uiList {
  top: 0px;
  left: 3%;
  width: 70px;
}

#uiList .dropdown-menu {
  margin-top: 61px;
  width: 220px;
}

.search {
  top: 93%;
  right: 240px;
}

}